#groups {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
}

#groups > #add-category {
  height: 38px;
  margin: 50px 0 0 10px;
  align-items: center;
}

#category-input {
  width: 18%;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

#category-input > button {
  margin: 5px;
}

#item-input > button {
  margin: 5px;
}

#create-theme, #update-theme {
  display: flex;
  justify-content: center;
}

form {
  padding-bottom: 100px;
}

button {
  margin: auto;
}

