* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

nav {
  background: rgb(10, 10, 10);
}

li {
  display: block;
}

.container {
  margin-top: 20px;
}

.card {
  margin-top: 25px;
}

.card-body {
  text-align: center;
}

#menu-nav{
  font-size: 18px;
  font-weight: bold;
}