.box {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.hide {
  display: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.action-item {
  width: auto;
  margin: 5px;
}

.infos {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.item {
  color: #FFF;
  margin: 10px;
  padding: 20px;
  background-color: #4a4e69;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.categoria {
  color: #FFF;
  margin: 10px;
  padding: 20px;
  background-color: #22223b;
  text-align: center;
  z-index: 1000;
  border-radius: 5px;
}
