{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2 class="title primary-color">Temas</h2>
    <p class="subtitle secondary-color">Escolha um tema para jogar:</p>
    {% for tema in temas %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{tema.name}}</h5>
          <p class="card-text">{{tema.description}}</p>
          <a href="/tema/{{tema.id}}">
            <button class="btn btn-success"
              onclick=gerarComponentes()
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Jogar tema">
              <b>Jogar</b>
            </button>
          </a>
          <a href="/editar/{{tema.id}}">
            <button class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Editar tema"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
          </a>
          <button class="btn btn-danger"
            onclick="removerTema('{{tema.id}}')"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Remover Tema"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
