{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="actions">
    <div class="action-item">
      <a href="/formulario/{{tema._id}}">
        <button
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Editar tema"
        >
          <b>Editar</b>
          <i class="bi bi-pencil-fill"></i>
        </button>
      </a>
    </div>
    <!--  Botão de remover tema -->
    <div class="action-item">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-title="Remover Tema"
        data-bs-target="[id='{{tema._id}}']"
      >
        <b>Remover</b>
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <!--  Modal para confirmar deleção no banco -->
    <div
      class="modal fade"
      id="{{tema._id}}"
      tabindex="0"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Confirmar remoção?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-success"
              onclick="remover_tema('{{tema._id}}')"
              data-bs-dismiss="modal"
            >
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity">
    <h2 class="activity-name">{{tema.name}}</h2>
    <h4 class="activity-description">{{tema.description}}</h4>
  </div>
  <div class="infos">
    <h5>Pontuação: <span class="badge bg-secondary" id="points">0</span></h5>
    <h5>Erros: <span class="badge bg-secondary" id="errors">0</span></h5>
    <h5>Recorde: <span class="badge bg-secondary" id="record">{{record.final_score or 0}}</span></h5>
    <h5>Tempo: <span class="badge bg-secondary" id="time">0</span></h5>
  </div>
  <!-- Ínicio de jogo -->
  <div id="start" class="box">
    <button id="start-game" type="button" class="btn btn-success"><b>Jogar</b></button>
  </div>
  <!-- Preparação -->
  <div id="start" class="box hide"></div>
  <!-- Reset -->
  <div id="reset" class="box hide">
    <button id="start-game" type="button" class="btn btn-success"><b>Resetar</b></button>
  </div>
  <!-- Fim do jogo -->
  <div id="end" class="box hide">
    <h1>Fim do Jogo</h1>
    <button id="start-game" type="button" class="btn btn-success"><b>Jogar Novamente</b></button>
  </div>
  <!-- Area do jogo -->
  <div class="board-game hide" id="board-game">
    <div class="items">
      {% for item in items %}
      <div class="item" item="{{ item.name }}" categoria="{{ item.category }}">
        <h5>{{ item.name }}</h5>
      </div>
      {% endfor %}
    </div>
    <div class="categorias">
      {% for category in categories %}
      <div class="categoria" name="{{ category.name }}">
        <h4>{{category.name}}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type=text/javascript>
  const categories_json = {{ categories | tojson }}
  localStorage.setItem("categories", JSON.stringify(categories_json))
</script>
{% endblock content %}
