{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="activity">
    <h2 class="activity-name">{{tema.name}}</h2>
    <h4 class="activity-description">{{tema.description}}</h4>
  </div>
  <div class="infos">
    <h5>Pontuação: <span class="badge bg-secondary" id="points">0</span></h5>
    <h5>Erros: <span class="badge bg-secondary" id="errors">0</span></h5>
    <h5>Recorde: <span class="badge bg-secondary" id="record">{{record.final_score or 0}}</span></h5>
    <h5>Tempo: <span class="badge bg-secondary" id="time">0</span></h5>
  </div>
  <!-- Ínicio de jogo -->
  <div id="start" class="box">
    <button id="start-game" type="button" class="btn btn-success"><b>Jogar</b></button>
  </div>
  <!-- Preparação -->
  <div id="start" class="box hide"></div>
  <!-- Reset -->
  <div id="reset" class="box hide">
    <button id="start-game" type="button" class="btn btn-success"><b>Resetar</b></button>
  </div>
  <!-- Fim do jogo -->
  <div id="end" class="box hide">
    <h1>Fim do Jogo</h1>
    <button id="start-game" type="button" class="btn btn-success"><b>Jogar Novamente</b></button>
  </div>
  <!-- Area do jogo -->
  <div class="board-game hide" id="board-game">
    <div class="items">
      {% for item in items %}
      <div class="item" item="{{ item.name }}" categoria="{{ item.category }}">
        <h5>{{ item.name }}</h5>
      </div>
      {% endfor %}
    </div>
    <div class="categorias">
      {% for category in categories %}
      <div class="categoria" name="{{ category.name }}">
        <h4>{{category.name}}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type=text/javascript>
  const categories_json = {{ categories | tojson }}
  localStorage.setItem("categories", JSON.stringify(categories_json))
</script>
{% endblock content %}
