{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3>Sobre <i class="bi bi-info-circle-fill"></i></h3>
  <hr />
  <div class="about-description">
    <p>
      Esse projeto e resultado do nosso trabalho final para conclusão do curso
      Sistemas para Internet no
      <b>Instituto Federal de Brasília - Campus Brasília</b> tendo como
      orientador o professor Marx Gomes Van der Linden, esperamos que gostem e
      se divirtam!
    </p>
  </div>
  <section class="about" style="max-width: 23rem">
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img
          src="../static/imgs/prince.jpeg"
          class="rounded-circle img-fluid"
          alt="woman avatar"
        />
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Prince Neres</h4>
        <hr />
        <p><i class="fas fa-quote-left"></i>Desenvolvedor Full-Stack</p>
      </div>
    </div>
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img
          src="../static/imgs/antony.png"
          class="rounded-circle img-fluid"
          alt="woman avatar"
        />
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Antony Eduardo</h4>
        <hr />
        <p>Desenvolvedor Front-End</p>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
