{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3>Sobre os desenvolvedores</h3>
  <div class="about">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../static/imgs/prince.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Prince Neres</h5>
            <p class="card-text">Desenvolvedor Fullstack Júnior.</p>
            <p class="card-text">
              <small class="text-muted"
                >Lorem ipsum dolor sit, amet consectetur adipisicing
                elit.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../static/imgs/antony.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Antoni Eduardo</h5>
            <p class="card-text">Desenvolvedor FronEnd.</p>
            <p class="card-text">
              <small class="text-muted"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
